@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e6d1ca;
    --branco: #FFFFFF;
    --laranja: #eee9c7;
    --azul-degrade: linear-gradient(97.54deg, #ec8a90 35.49%, #eba2a4 165.37%);
    --fonte-principal: "Merriweather";
    --azul: #ed7b83;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}